p{
	text-align: center;
	font-family: serif;
	font-size: 28px;
}
div {
	border-radius: 5px;
	border: 2px solid green;
	background-color: yellow;
	height: 50px;
	width: 50px;
	margin: auto;
	text-align: center;
}

